<div class="container" id="main-container">
  <div class="row">
    <!--Creating a for loop over all pokemon (for each pokemon in the array of pokemons)-->
    <div *ngFor="let pokemon of pokemons" class="col-md-6 col-xl-3">
       <div class="card m-b-30"> <!--Create a card for each pokemon-->
          <div class="card-body row">
             <div class="col-6">
                <!--the ? after pokemon indicates a safe navigator, meaning that the code ensures that the pokemon object exists before executing its imageUrl property-->
                <a href=""><img src="{{pokemon?.imageUrl}}" height="70" ></a>
             </div>
             <div class="col-6 card-title align-self-center mb-0">
                <h6 style="text-align:right">{{pokemon?.name}}</h6>
                <p class="m-0" style="text-align:right">#{{pokemon?.id}}</p>
             </div>
          </div>
          <ul class="list-group list-group-flush">
             <li class="list-group-item">{{pokemon?.type}}</li>
             <li class="list-group-item">{{pokemon?.region}}</li>
          </ul>
          <div class="card-body">
             <div class="float-right btn-group btn-group-sm"></div>
                <a (click)="onOpenModal(pokemon, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                <a (click)="onOpenModal(pokemon, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
             </div>
          </div>
       </div>
    </div>
  </div>
