
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Pokemon Database</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" (click)="onOpenModal(null, 'add')">Add Pokemon <span class="sr-only">(current)</span></a>
        </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="onSearchPokemon(search.value)" #search="ngModel" ngModel
       name="search" id="searchName" class="form-control mr-sm-2" placeholder="Search Pokemon..." required>
   </form>
  </div>
</nav>


<div class="container" id="main-container">
  <div class="row">
    <!--Creating a for loop over all pokemon (for each pokemon in the array of pokemons)-->
    <div *ngFor="let pokemon of pokemons" class="col-md-6 col-xl-3">
       <div class="card m-b-30"> <!--Create a card for each pokemon-->
          <div class="card-body row">
             <div class="col-6">
                <!--the ? after pokemon indicates a safe navigator, meaning that the code ensures that the pokemon object exists before executing its imageUrl property-->
                <a href=""><img src="{{pokemon?.imageUrl}}" height="70" ></a>
             </div>
             <div class="col-6 card-title align-self-center mb-0">
                <h6 style="text-align:right">{{pokemon?.name}}</h6>
                <p class="m-0" style="text-align:right">#{{pokemon?.id}}</p>
             </div>
          </div>
          <ul class="list-group list-group-flush">
             <li class="list-group-item">{{pokemon?.type}}</li>
             <li class="list-group-item">{{pokemon?.region}}</li>
          </ul>
          <div class="card-body">
             <div class="float-right btn-group btn-group-sm"></div>
                <a (click)="onOpenModal(pokemon, 'update')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                <a (click)="onOpenModal(pokemon, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
             </div>
          </div>
       </div>
    </div>
</div>

<!-- Add Pokemon Modal -->
<div class="modal fade" id="addPokemonModal" tabindex="-1" role="dialog" aria-labelledby="addPokemonModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addPokemonModalLabel">Add Pokemon</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddPokemon(addForm)"> <!-- add reference to Angular Form and the function which it will call -->
          <div class="form-group">
             <label for="id">Pokedex #</label>
             <input type="number" ngModel name="id" class="form-control" id="id" placeholder="#" required>
          </div>
          <div class="form-group">
             <label for="name">Name</label>
             <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Pokemon Name" required>
          </div>
          <div class="form-group">
             <label for="type">Type</label>
             <input type="text" ngModel name="type" class="form-control" id="type" placeholder="Type" required>
          </div>
          <div class="form-group">
             <label for="region">Region</label>
             <input type="text" ngModel name="region" class="form-control" id="region" placeholder="One of the 8 regions the Pokemon is found in" required>
          </div>
          <div class="form-group">
             <label for="imageUrl">Image URL</label>
             <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image of the Pokemon" required>
          </div>
          <div class="modal-footer">
             <button type="button" id="add-pokemon-form-exit" class="btn btn-secondary" data-dismiss="modal">Exit</button>
             <!-- this will disable the Save Changes button unless you fill every form given above -->
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
          </form>
       </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="updatePokemonModal" tabindex="-1" role="dialog" aria-labelledby="updatePokemonModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updatePokemonModalLabel">Update Details for {{pokemonToBeEdited?.name}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
              <div class="form-group">
                 <input type="hidden" ngModel="{{pokemonToBeEdited?.id}}" name="id" class="form-control" id="id" placeholder="#">
              </div>
              <div class="form-group">
                 <label for="name">Name</label>
                 <input type="text" ngModel="{{pokemonToBeEdited?.name}}" name="name" class="form-control" id="name" placeholder="Pokemon Name">
              </div>
              <div class="form-group">
                 <label for="type">Type</label>
                 <input type="text" ngModel="{{pokemonToBeEdited?.type}}" name="type" class="form-control" id="type" placeholder="Type">
              </div>
              <div class="form-group">
                 <label for="region">Region</label>
                 <input type="text" ngModel="{{pokemonToBeEdited?.region}}" name="region" class="form-control" id="region" name="region" placeholder="One of the 8 regions the Pokemon is found in">
              </div>
              <div class="form-group">
                 <label for="imageUrl">Image URL</label>
                 <input type="text" ngModel="{{pokemonToBeEdited?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image of the Pokemon">
              </div>
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdatePokemon(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deletePokemonModal" tabindex="-1" role="dialog" aria-labelledby="deletePokemonModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deletePokemonModalLabel">Delete Pokemon</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete {{pokemonToBeDeleted?.name}} from the database?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeletePokemon(pokemonToBeDeleted?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>
